.Error {
    top: -100%;
    left: 30%;
    background-color: #bb2124;
    width: 40%;
    min-height: 4vh;
    position: absolute;
    z-index: 600;
    border-radius: 8px;
    transition: transform .5s;
    animation-name: error;
    animation-duration: 2s;
}

@keyframes error {
    0% {
        top: 0;
    }
    20% {
        top: 4vh;
    }
    80% {
        top: 4vh;
    }
    100% {
        top: -100%;
    }
}

.Error p {
    color: white;
    text-align: center;
    font-size: 18px;
}

/* .Open {
    transform: translateY(0vh);
}

.Close {
    transform: translateY(-100vh);
} */

@media (max-width: 450px) {
    .Error {
        width: 80%;
        left: 10%;
    }
}