.SubmitButton {
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 1.3rem;
    width: 150px;
    background-color: white;
    padding: 4px;
    margin: 8px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}

.SubmitButton:hover,
.SubmitButton:active{
    box-shadow: 0 3px 4px 0 rgba(60,64,67,0.302), 0 4px 8px 4px rgba(60,64,67,0.149);
    border: none;
    outline: none;
}

.SubmitButton:disabled {
    cursor: not-allowed;
    box-shadow: none;
}