.NavDetail {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(80, 77, 77);
    color: white;
}

.Div1 {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Div2 {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
@media (max-width:599px) {
    .Div1 {
        width: 100%;
    }
    .Div2 {
        width: 0%;
        display: none;
    }
}

@media (min-width:600px) and (max-width:800px) {
    .Div1 {
        width: 50%;
    }
    .Div2 {
        width: 50%;
    }
}

@media (min-width: 801px) {
    .Div1 {
        width: 70%;
    }
    .Div2 {
        width: 30%;
    }
}