.Input {
    /* position: relative; */
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: .9rem;
    /* left: 10%; */
    border-radius: 4px;
    width: 80%;
    height: 5vh;
    margin-bottom: 2vh;
    padding-left: 10px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}

.Invalid {
    border: 1px solid red;
}
